/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.card {
  cursor: pointer;
}

span.type {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 4px 16px;
  color: #fff;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.type.sm {
  border-radius: 0px;
  padding: 0px 5px;
  margin: 0px;
}

/*https://bulbapedia.bulbagarden.net/wiki/Category:Type_color_templates*/
span.type.normal {
  background-color: #a8a878;
  border-color: #6d6d4e;
}

span.type.fire {
  background-color: #f08030;
  border-color: #9c531f;
}

span.type.water {
  background-color: #6890f0;
  border-color: #445e9c;
}

span.type.electric {
  background-color: #f8d030;
  border-color: #a1871f;
}

span.type.grass {
  background-color: #78c850;
  border-color: #4e8234;
}

span.type.ice {
  background-color: #98d8d8;
  border-color: #638d8d;
}

span.type.fighting {
  background-color: #c03028;
  border-color: #7d1f1a;
}

span.type.poison {
  background-color: #a040a0;
  border-color: #682a68;
}

span.type.ground {
  background-color: #e0c068;
  border-color: #927d44;
}

span.type.flying {
  background-color: #a890f0;
  border-color: #6d5e9c;
}

span.type.psychic {
  background-color: #f85888;
  border-color: #a13959;
}

span.type.bug {
  background-color: #a8b820;
  border-color: #6d7815;
}

span.type.rock {
  background-color: #b8a038;
  border-color: #786824;
}

span.type.ghost {
  background-color: #705898;
  border-color: #493963;
}

span.type.dragon {
  background-color: #7038f8;
  border-color: #4924a1;
}

span.type.dark {
  background-color: #705848;
  border-color: #49392f;
}

span.type.steel {
  background-color: #b8b8d0;
  border-color: #787887;
}

span.type.fairy {
  background-color: #ee99ac;
  border-color: #9b6470;
}

.span.bg-normal {
  background-color: #a8a77a;
  color: #fff;
}

.bg-fire {
  background-color: #ee8130;
  color: #fff;
}

.bg-water {
  background-color: #6390f0;
  color: #fff;
}

.bg-electric {
  background-color: #f7d02c;
  color: #fff;
}

.bg-grass {
  background-color: #7ac74c;
  color: #fff;
}

.bg-ice {
  background-color: #96d9d6;
  color: #fff;
}

.bg-fighting {
  background-color: #c22e28;
  color: #fff;
}

.bg-poison {
  background-color: #a33ea1;
  color: #fff;
}

.bg-ground {
  background-color: #e2bf65;
  color: #fff;
}

.bg-flying {
  background-color: #a98ff3;
  color: #fff;
}

.bg-psychic {
  background-color: #f95587;
  color: #fff;
}

.bg-bug {
  background-color: #a6b91a;
  color: #fff;
}

.bg-rock {
  background-color: #b6a136;
  color: #fff;
}

.bg-ghost,
.bg-shadow {
  background-color: #735797;
  color: #fff;
}

.bg-dragon {
  background-color: #6f35fc;
  color: #fff;
}

.bg-dark {
  background-color: #705746;
  color: #fff;
}

.bg-steel {
  background-color: #b7b7ce;
  color: #fff;
}

.bg-fairy {
  background-color: #d685ad;
  color: #fff;
}

.bg-unknown {
  background-color: #aaa;
  color: #fff;
}
